# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# ignore sonarcube
.scannerwork

# mac temp file
.DS_Store

# build folder
build

node_modules
package-lock.json